*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #d9d5d5;
}

ol,
ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}

.status-game{
    margin: 0.3rem 0;
}

.status-game button{
    min-width: 140px;
    background-color: #000000;
    color: #ffffff;
    border: 0;
    font-weight: 500;
    padding: 0.25rem;
}

.game-board{
    display: flex;
    align-items: center;
}